div.mypage
{
    margin-top:10px;
    padding:10px 50px;
    background-color:white;
    color:black;
}

div.mpuinfo
{
    border:1px dotted black;
    margin:10px 50px;
    height:307px;
}

div.mpuinfo p
{
    margin: 10px 0px 10px 10px;
    font-size: 18px;
}

div.left
{
    display:block;
    width:48.9%;
    padding:0px;
    padding-right:1%;
    float:left;
    border-right:1px solid black;
}

div.right
{
    display:block;
    width:48.9%;
    padding:0px;
    padding-right:1%;
    float:right;
    height:100%;
}

div.orderhistory
{
    height:235px;
}

table.ohist
{
    font-size: 15px;
    margin-left: 10px;
    width:90%;
    overflow:auto;
    border-collapse:collapse;
}

table.ohist th
{
    border:1px solid black;
    border-top: none;
    border-collapse:collapse;
}

table.ohist td
{
    border:1px dotted black;
    border-collapse:collapse;
    text-align: center;
}

span.column
{
    display:block;
    width:135px;
    background-color:black;
    color:white;
    padding: 5px;
    float:left;
    font-weight:bold;
}

span.entry
{
    display:block;
    margin-left:145px;
    width:380px;
    padding: 5px 5px 5px 5px;
    text-align: right;
}