div.header
{
    font-family: Arial, Helvetica, sanserif;
    font-size: 20px;
    margin-top: 0px;
    height:20px;
    padding:20px 50px 50px 50px;
}

nav.menu-table
{
    margin-left:200px;
}

div.user
{
    float:left;
    font-size:15px;
    display:block;
}

div.user a, div.user p
{
    margin: 0px;
    text-decoration: none;
}

a.menu
{
    text-decoration:none;
    color: #000;
    display:block;
    width:15%;
    float:left;
}

a.menu:hover
{
    text-decoration:underline;
}

