body
{
    font-family: Arial, Helvetica, sanserif;
}

div.title
{
    width: 300px;
    display: block;
    margin: 30px auto;
}

div.title h3
{
    text-align:center;
    padding: 10px;
    color:#fff;
    background-color:#000;
}

div.loginform
{
    width: 200px;
    display: block;
    margin: 0px auto;

}

div.loginform p
{
    margin: 14px 0px 5px 0px;
    display: block;
    width: 100px;
    text-align: center;
    padding: 3px 2px;
    color: #fff;
    background-color: #000;
}