body
{
    font-family:Arial, Helveltica, sanserif;
}

table.order, table.order th, table.order td
{
    border:1px solid black;
    border-collapse:collapse;
}

table.order th
{
    padding:5px;
    font-size:15px;
    color:#fff;
    background-color:#000;
}

table.order td
{
    padding:5px;
    font-size:12px;
}

div.ordersearch
{
	margin: 5px 0px 15px 300px;
}