body
{
    font-family:Arial, Helvetica, sanserif;
    font-size:15px;
}


div.search
{
    margin-left:50px;
}

div.orderinfo
{
    width:900px;
    margin-left:100px;
}

div.left p , div.right p
{
    height:27px;
    margin:0px;
    padding: 2px 20px 2px 5px;
}

div.left
{
    float:left;
    display:block;
    padding:5px 20px 5px 10px;
    border-right:1px dotted black;
}

div.right
{
    float:left;
    display:block;
    padding: 5px 10px;
}

span.column
{
    background-color:#000;
    color:#fff;
    display:block;
    width:125px;
    float:left;
    padding:5px;
}

span.value
{
    padding:5px;
    width:225px;
    float:right;
    text-align:right;
}

a
{
    text-decoration: none;
}

input.value
{
    padding:5px;
    width:225px;
    float:right;
    text-align:right;
}

div.item
{
    clear:both;
    width:900px;
    margin-left:100px;
    margin-bottom: 25px;
}

table.items, table.items th, table.items td
{
    border: 1px dotted black;
    border-collapse: collapse;
    text-align: center;
    padding:5px;
}

table.items th
{
    background-color:#000;
    color:#fff;
}

input.numberInput
{
    text-align:right;
    width:100%;
    height:100%;
    border: 2px;
}

div.addresslist
{
    width:300px;
    height:auto;
    position:absolute;
    top:350px;
    left:500px;
    background-color:#FEFEFE;
    border:2px solid #EEE;
    border-radius:5px;
    display:none;
    font-size:11px;
    padding:10px;
}

div.addresslist button
{
    margin-top: 5px;
    font-size:11px;
}
