body
{
    font-family: Arial, Helvetica, sanserif;
}
table.user, table.user th, table.user td
{
    border:1px solid black;
    border-collapse:collapse;
}
th
{
    padding:5px;
    font-size:15px;
    color:#fff;
    background-color:#000;
}
td
{
    padding:5px;
    font-size:12px;
}
