body
{
    font-family:Arial, Helvetica, sanserif;
    font-size:15px;
}


div.search
{
    margin-left:50px;
}

div.user_info
{
    display:block;
    width:850px;
    margin-left:100px;
}

div.left
{
    float:left;
    display:block;
    padding: 5px 20px 5px 10px;
    margin-bottom: 5px;
    height:auto;
    border-right: 1px dotted black;
}
div.right
{
    float:left;
    display:block;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    height:auto;
}

div.left p, div.right p
{
    margin: 0px;
    height: 27px;
    padding: 2px 20px 2px 5px;
}

span.column
{
    background-color: #000;
    display:block;
    width:125px;
    float:left;
    color:#FFF;
    padding: 5px;
}

div.addressline
{
    height:75px;
}

span.value
{
    padding:5px;
    width:225px;
    float:right;
    text-align:right;
}

div.orderhistory
{
    margin: 5px 0px 0px 100px;
    clear:both;
    width:850px; 
}

table.orderhistory
{
    margin-left:25px;
    width:500px;
}

table.orderhistory, table.orderhistory th, table.orderhistory td
{
    border: 1px dotted black;
    border-collapse: collapse;
    text-align: center;
}