body {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    background-color: lightGray;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

#navi {
    width: 100%;
    height: 150px;
    display: table;
    background-color: #fff;
}

#navi-cont {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    color: #000;
    font-size: 0.7em;
}

#navi-link {
    text-decoration: none;
    color: #000;
    border-style: none;
    border-color: #fff;
    
    /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
}

#navi-link:hover {
    border-color: #000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 8px;
    
}

#main1 {
    width: 100%;
    height: 400px;
    background-image: url(images/bkgd.jpg);
    background-position: center center;
    background-size: cover;
    display: table;
}

#main1-cont {
    display: table-cell;
    vertical-align: middle;
    color: #000;
    font-size: 0.7em;
}

#main1-cont p {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
}

#main2 {
    width: 100%;
    background-color: #ededed;
}

#main2-cont {
    width: 100%;
    color: #000;
    font-size: 0.7em;
    padding-top: 100px;
    padding-bottom: 100px;
}

#main2-cont p {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
}

#main2-cont2 {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 0.7em;
    padding-top: 50px;
    padding-bottom: 100px;
}

#main2-cont2 p {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
}

#newstable p, ul {
    width: 300px;
    text-align: center;
}

#newstable tr {
    vertical-align: top;
}

#newstable td {
    padding: 10px;
}

#index-button-container {
    position: relative;
    height: 350px;
    width: 300px;
    display: inline-block;
    border-style: solid;
    border-color: #000;
    border-width: 0px;
    margin: 0px;
    padding: 10px;
    color: #000;
}

#index-button-container div p {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
}

#index-button-image {
    position: absolute;
    bottom: 10px;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center right;
}

#index-button-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #ededed;
    opacity: 0;
    
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

#index-button-hover:hover {
    opacity: 0.5;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

#index-button-title {
    height:30px;
    padding-top:20px;
    position: absolute;
    top: 0px;
}

#main2-cont3 {
    width: 100%;
    background-color: ededed;
    color: #000;
    font-size: 0.7em;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main2-cont3 p {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
}

#pricing-button-container {
    position: relative;
    height: 250px;
    width: 200px;
    display: inline-block;
    border-style: solid;
    border-color: #000;
    border-width: 0px;
    margin: 0px;
    padding: 10px;
    color: #000;
}

#pricing-button-container div p {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
}

#pricing-button-image {
    position: absolute;
    bottom: 10px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center right;
}

#pricing-button-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

#pricing-button-hover:hover {
    opacity: 0.5;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

#pricing-button-title {
    height:30px;
    padding-top:20px;
    position: absolute;
    top: 0px;
}

#map {
    width: 100%;
    height: 300px;
}

#footer {
    width: 100%;
    height: 50px;
    display: table;
}

#footer-cont {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.6em;
    color: #000;
}

#footer-cont p {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

#footer-cont p a {
    color: #000;
    font-weight: 900;
    text-decoration: none;
}

#footer-cont p a:hover {
    text-decoration: underline;
}

#contactform input, textarea {
    resize: none;
    width: 400px;
    border-width: 0px;
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: 100;
    padding: 3px;
}

#locmenu {
    width:25%;
    height:100%;
    position:absolute;
    top:0px;
}

#locmenu table {
    width: 100%;
    height: 100%;
    background-color: rgba(200,200,200,0.75);
}

#locmenu table tr td {
    width: 100%;
    padding: 30px;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#locmenu table tr td:hover {
    background-color: rgba(200,200,200,0.9);
}

#locmenu table tr p, #locmenu table tr a {
    font-size: 0.6em;
    text-align: left;
    color: #000;
}